td,
th {
  border: 1px solid white;
  color: white;
  padding: 10px;
}
button {
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 40px;
  font-size: 1.5em;
  padding: 0;
  margin: 0 10px;
}
button:hover {
  background-color: white;
  color: black;
}
table {
  border-spacing: 5px;
}
