.addBtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  bottom: 50px;
  right: 50px;
  transition-duration: 0.5s;
}
.closed {
  transform: rotate(45deg);
}
.addBtnInnertext {
  color: white;
  font-size: 2.5em;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
